/* GENERIC */

html, body {
	padding: 0; margin: 0;
	width: 100%; height: 100%;
}

.pa-fullscreen {
    display: table;
    width: 100%; height: 100%;
}

.pa-fullscreen-child {
    display: table-cell;
    vertical-align: middle;
    width: 100%; height: 100%;
}

/* SECTIONS */

.pa-section {
    position: relative;
	background-position: center;
	background-repeat: no-repeat; 
}

.pa-section-xs {
	padding: 3em 0;
}

.pa-section-sm {
	padding: 4.5em 0;
}

.pa-section-md {
	padding: 6em 0;
}

.pa-section-lg {
	padding: 7.5em 0;
}

/* MARGIN */

.pa-margin-top {
	margin-top: 15px;
}

.pa-margin-right {
	margin-right: 15px;
}

.pa-margin-bottom {
	margin-bottom: 15px;
}

.pa-margin-left {
	margin-left: 15px;
}

.pa-no-margin-top {
	margin-top: 0 !important;
}

.pa-no-margin-right {
	margin-right: 0 !important;
}

.pa-no-margin-bottom {
	margin-bottom: 0 !important;
}

.pa-no-margin-left {
	margin-left: 0 !important;
}

/* PADDING */

.pa-padding-top {
	padding-top: 15px;
}

.pa-padding-right {
	padding-right: 15px;
}

.pa-padding-bottom {
	padding-bottom: 15px;
}

.pa-padding-left {
	padding-left: 15px;
}

.pa-no-padding-top {
	padding-top: 0 !important;
}

.pa-no-padding-right {
	padding-right: 0 !important;
}

.pa-no-padding-bottom {
	padding-bottom: 0 !important;
}

.pa-no-padding-left {
	padding-left: 0 !important;
}

/* SOCIAL MEDIA */

.pa-social-media {
	position: fixed; 
	z-index: 100000000; 
	width: 50px; height: 100%; 
	top: 0; bottom: 0; left: 0; right: 0;
}

.pa-facebook {
	height: 50px;
	background: #3B579D;
	color: #FFFFFF;
}

.pa-twitter {
	height: 50px;
	background: #00ACED;
	color: #FFFFFF;
}

.pa-instagram {
	height: 50px;
	background: #D80053;
	color: #FFFFFF;
}

.pa-linkedin {
	height: 50px;
	background: #0271AE;
	color: #FFFFFF;
}

.pa-youtube {
	height: 50px;
	background: #F80000;
	color: #FFFFFF;
}

.pa-social-media a {
	color: #FFFFFF !important;
}

/* WIDGET PROPERTIES */

.pa-caption {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 400 !important;
}

.pa-overlay {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 0.5;
}

.pa-block-padding {
	padding: 3em;
}

/* FORM CONTROLS */

.pa-control {
	border: none !important;
	border-bottom: 1px solid #CDE !important;
	box-shadow: none !important;
	height: auto !important;
	padding: 12.5px !important;
	border-radius: 0 !important;
}

.pa-control + i {
	margin-top: 15px;
}

/* GALLERY */

.pa-gallery {
	cursor: pointer;
}

.pa-slideshow {
	position: fixed; 
	top: 0; bottom: 0; right: 0; left: 0; 
	background: rgba(0, 0, 0, 0.5); 
	width: 100%; height: 100%; 
	z-index: 100000000;
	display: none;
}

.pa-slideshow-image {
	height: 480px; 
	background-color: #101010; 
	background-repeat: no-repeat; 
	background-position: center;
	border: 10px solid #fff; 
}

.pa-date {
	margin-bottom: -7.5px; 
	font-weight: 700; 
	font-size: 18px;
}

@media only screen and (min-width: 768px) {
	.pa-block-padding {	
		padding: 0 6em;
	}
}
