/* GENERIC */

html, body {
	padding: 0; margin: 0;
	width: 100%; height: 100%;
}

.widgetify-fullscreen {
    display: table;
    width: 100%; height: 100%;
}

.widgetify-fullscreen-child {
    display: table-cell;
    vertical-align: middle;
    width: 100%; height: 100%;
}

/* LETTERING */

.widgetify-hero {
	font: 36px Arial;
}

.widgetify-caption {
	font: 28px Arial;
}

.widgetify-summary {
	font: 14px Arial;
}

.widgetify-sub-caption {
	font: 20px Arial;
}

.widgetify-text {
	font: 14px Arial;
}

/* SECTIONS */

.widgetify-section {
    position: relative;
	background-position: center;
	background-repeat: no-repeat; 
}

.widgetify-section-xs {
	padding: 3em 0;
}

.widgetify-section-sm {
	padding: 4.5em 0;
}

.widgetify-section-md {
	padding: 6em 0;
}

.widgetify-section-lg {
	padding: 7.5em 0;
}

/* MARGIN */

.widgetify-margin-top {
	margin-top: 15px;
}

.widgetify-margin-right {
	margin-right: 15px;
}

.widgetify-margin-bottom {
	margin-bottom: 15px;
}

.widgetify-margin-left {
	margin-left: 15px;
}

.widgetify-margin-top-sm {
	margin-top: 7.5px;
}

.widgetify-margin-right-sm {
	margin-right: 7.5px;
}

.widgetify-margin-bottom-sm {
	margin-bottom: 7.5px;
}

.widgetify-margin-left-sm {
	margin-left: 7.5px;
}

.widgetify-margin-top-lg {
	margin-top: 22.5px;
}

.widgetify-margin-right-lg {
	margin-right: 22.5px;
}

.widgetify-margin-bottom-lg {
	margin-bottom: 22.5px;
}

.widgetify-margin-left-lg {
	margin-left: 22.5px;
}

.widgetify-margin-top-xlg {
	margin-top: 30px;
}

.widgetify-margin-right-xlg {
	margin-right: 30px;
}

.widgetify-margin-bottom-xlg {
	margin-bottom: 30px;
}

.widgetify-margin-left-xlg {
	margin-left: 30px;
}

.widgetify-no-margin-top {
	margin-top: 0 !important;
}

.widgetify-no-margin-right {
	margin-right: 0 !important;
}

.widgetify-no-margin-bottom {
	margin-bottom: 0 !important;
}

.widgetify-no-margin-left {
	margin-left: 0 !important;
}

.widgetify-no-margin {
	margin: 0 !important;
}

/* PADDING */

.widgetify-padding-top {
	padding-top: 15px;
}

.widgetify-padding-right {
	padding-right: 15px;
}

.widgetify-padding-bottom {
	padding-bottom: 15px;
}

.widgetify-padding-left {
	padding-left: 15px;
}

.widgetify-padding-top-sm {
	padding-top: 7.5px;
}

.widgetify-padding-right-sm {
	padding-right: 7.5px;
}

.widgetify-padding-bottom-sm {
	padding-bottom: 7.5px;
}

.widgetify-padding-left-sm {
	padding-left: 7.5px;
}

.widgetify-padding-top-lg {
	padding-top: 22.5px;
}

.widgetify-padding-right-lg {
	padding-right: 22.5px;
}

.widgetify-padding-bottom-lg {
	padding-bottom: 22.5px;
}

.widgetify-padding-left-lg {
	padding-left: 22.5px;
}

.widgetify-padding-top-xlg {
	padding-top: 30px;
}

.widgetify-padding-right-xlg {
	padding-right: 30px;
}

.widgetify-padding-bottom-xlg {
	padding-bottom: 30px;
}

.widgetify-padding-left-xlg {
	padding-left: 30px;
}

.widgetify-no-padding-top {
	padding-top: 0 !important;
}

.widgetify-no-padding-right {
	padding-right: 0 !important;
}

.widgetify-no-padding-bottom {
	padding-bottom: 0 !important;
}

.widgetify-no-padding-left {
	padding-left: 0 !important;
}

.widgetify-no-padding {
	padding: 0 !important;
}

/* SOCIAL MEDIA */

.widgetify-social-media {
	position: fixed; 
	z-index: 100000000; 
	width: 50px; height: 100%; 
	top: 0; bottom: 0; left: 0; right: 0;
}

.widgetify-facebook {
	height: 50px;
	background: #3B579D;
	color: #FFFFFF;
}

.widgetify-twitter {
	height: 50px;
	background: #00ACED;
	color: #FFFFFF;
}

.widgetify-instagram {
	height: 50px;
	background: #D80053;
	color: #FFFFFF;
}

.widgetify-linkedin {
	height: 50px;
	background: #0271AE;
	color: #FFFFFF;
}

.widgetify-youtube {
	height: 50px;
	background: #F80000;
	color: #FFFFFF;
}

.widgetify-social-media a {
	color: #FFFFFF !important;
}

/* WIDGET PROPERTIES */

.widgetify-overlay {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 0.5;
}

.widgetify-block-padding {
	padding: 3em;
}

/* FORM CONTROLS */

.widgetify-control {
	border: none !important;
	border-bottom: 1px solid #CDE !important;
	box-shadow: none !important;
	height: auto !important;
	padding: 12.5px !important;
	border-radius: 0 !important;
}

.widgetify-control + i {
	margin-top: 15px;
}

/* GALLERY */

.widgetify-gallery {
	cursor: pointer;
}

.widgetify-slideshow {
	position: fixed; 
	top: 0; bottom: 0; right: 0; left: 0; 
	background: rgba(0, 0, 0, 0.5); 
	width: 100%; height: 100%; 
	z-index: 100000000;
	display: none;
}

.widgetify-slideshow-image {
	height: 480px; 
	background-color: #101010; 
	background-repeat: no-repeat; 
	background-position: center;
	border: 10px solid #fff; 
}

.widgetify-date {
	margin-bottom: -7.5px; 
	font-weight: 700; 
	font-size: 18px;
}

@media only screen and (min-width: 768px) {
	.widgetify-block-padding {	
		padding: 0 6em;
	}
}
